$sp05: 4px;
$sp: 8px;
$sp2: $sp * 2;
$sp3: $sp * 3;
$sp4: $sp * 4;
$sp5: $sp * 5;
$sp6: $sp * 6;
$sp7: $sp * 7;
$sp8: $sp * 8;
$sp9: $sp * 9;
$sp10: $sp * 10;


// Color scheme

$green: #399e65;
$red: #e15258;
$black: #000;
$white: #fff;

$color-theme-dark: #2a3f54;
$color-theme-dark2: #334D66;
$color-theme-dark3: #526A83;
$color-theme-text-dark: #363c45;
$color-secondary-bg: #6986a6;
$color-steel: #668BAF;
$project-pill-bg: #d6e3f0;


$section-bg: #f3f3f3;