# yii console commands
/yii
/yii_test
/yii_test.bat

# environments
/.env

#node modules

/node_modules

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# IDE & OS files
.*.swp

# composer vendor dir
/vendor
/vendor2

# composer itself is not needed
composer.phar
# composer.lock
# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

/phpstan.loc.neon
/psalm.loc.xml

# visual studio code
.vscode

/lsp

# CodeSniffer cache files
.php_cs.cache
.phpcs-cache

# PhpLinter cache file
.phplint.cache

cghooks.lock

*.bak

# PHPDoc
.phpdoc

/Makefile
/docker-pre-commit.sh
/docker-pre-commit-new.sh

var/*
!var/.gitkeep
