includes:
    - vendor/proget-hq/phpstan-yii2/extension.neon
parameters:
  autoload_files:
    - vendor/yiisoft/yii2/Yii.php
  level: 5
  paths:
    - webapi/controllers
    - frontend/controllers
    - console/controllers
    - common/models
    - sales
  excludes_analyse:
    - webapi/tests/*
    - docker/*
    - node_modules/*
  yii2:
    config_path: %rootDir%/../../../common/config/boostrap.php