._cc-access-request-wrapper {
    position: absolute;
    top: 3%;
    max-width: 30rem;
    background-color: rgba(213, 200, 200, .9);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    border-radius: 3px;
    animation: scaling 1s infinite alternate;;
}

._cc-access-request-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid lightgray;
}
._cc-access-request-item:last-child {
    border-bottom: none;
}
._cc-box-header.active {
    background-color: #78c286;
}

#_client_chat_access_widget {
    position: relative;
    z-index: 1040;
}
._cc-fabs {
    bottom: 260px;
    position: fixed;
    margin: 1em;
    right: 0;
    z-index: 998;
}
._cc-fab {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #f0f0f0 !important;
    margin: 25px auto 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    background: #42a5f5;
    webkit-transition-delay: 25ms;
    transition-delay: 25ms;
}
._cc-fab.inactive {
    background: #d5b24c;
}
#_circle_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: none;
}
#_circle_wrapper.active {
    display: block;
}
._cc_total_request_wrapper {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 985;
    font-size: 11px;
    font-weight: bold;
}
._cc-fab.is-visible .circle {
    display: none;
}
._cc-fab .circle {
    display: block;
    border-radius: 50%;
    background-color: deepskyblue;
    width: 56px;
    height: 56px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}
._cc-fab > i {
    font-size: 2em;
    line-height: 55px;
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
._cc-box {
    width: 370px;
    position: fixed;
    right: 85px;
    bottom: 270px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: none;
    background-color: #fff;
}
._cc-box.is-visible {
    opacity: 1;
    display: block;
}

._cc-box-header {
    font-size: 13px;
    font-weight: 500;
    color: #f3f3f3;
    height: 55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 8px;
    background-color: #d5b24c
}
._cc-box-option {
    float: left;
    font-size: 15px;
    list-style: none;
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
._cc-box-option img {
    border-radius: 50%;
    width: 55px;
    float: left;
    margin: -30px 20px 10px 20px;
    border: 4px solid rgba(0, 0, 0, 0.21);
}
._cc-box-item-wrapper {
    position: relative;
    z-index: 10;
}
._cc-box-body {
    background: #fff;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    padding: 10px 10px 0 10px;
    max-height: 350px;
    display: flex;
    flex-direction: column-reverse;
}
._cc-box-item {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: start;
    height: auto;
    /*max-height: 65px;*/
    /*overflow: hidden;*/
    /*transition: max-height .7s ease-in-out;*/
}
._cc-box-item.active {
    max-height: 1000px;
}
._cc-client-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 80%;
}
._cc_chevron {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    background-color: #fff;
    width: 40px;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}
._cc-box-item.active ._cc_chevron .fa {
    transform: rotate(180deg);
}
._cc-client-name {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
}
._cc-additional-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
._cc-data {
    display: flex;flex-direction: row; align-items: start; justify-content: start; flex-wrap: wrap;
}
._cc-data .label {
    margin-top: 5px;
    margin-right: 5px;
}
._cc-data .label:last-child {
    margin-bottom: 0;
}
._cc-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 22%;
}

@keyframes scaling {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.05, 1.05);
    }
}


