# Ignore local .terraform directories
**/.terraform/*

# Ignore state files
*.tfstate
*.tfstate.*

# Ignore crash log
crash.log

# Ignore all .tfvars
*.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore cli configuration files
.terraformrc
terraform.rc

# Ignore variables.tf
variables.tf
