{{ ansible_managed | comment }}

[Unit]
Description=Haproxy Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User={{ _haproxy_exporter_system_user }}
Group={{ _haproxy_exporter_system_group }}
ExecStart={{ _haproxy_exporter_binary_install_dir }}/haproxy_exporter \
    '--web.listen-address={{ haproxy_exporter_web_listen_address }}' \
    '--haproxy.scrape-uri={{ haproxy_scrape_url }}'

SyslogIdentifier=haproxy_exporter
Restart=always
RestartSec=1

PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
