@charset "UTF-8";

.thumbnail {
  height: auto;
  overflow: hidden; }

.progress {
  height: auto;
  margin-bottom: 0px;
}

.panel_toolbox.bookdata{
  min-width: auto !important;
}
textarea.itinerary-book-data{
  width: 100%;
  height: 500px;
}