[Unit]
Description=Prometheus Redis Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User=redis_exporter
Group=redis_exporter
ExecStart=/usr/local/bin/redis_exporter  --redis.addr=127.0.0.1:6379 --web.listen-address=0.0.0.0:9121

SyslogIdentifier=redis_exporter
Restart=always
RestartSec=1

PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
