map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 443 ssl http2;
    listen 8443 ssl http2;
    server_name {{ app_domain }};

    charset utf-8;
    client_max_body_size 128M;

    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;

    ssl_certificate /etc/nginx/ssl/app.crt;
    ssl_certificate_key /etc/nginx/ssl/app.key;
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";

    set $base_root {{ app_dir }};
    root $base_root;

    error_log /var/log/nginx/app-error.log warn;
    access_log /var/log/nginx/app-access.log;

    index index.php;

    location / {
        proxy_connect_timeout 300;
        proxy_send_timeout 300;
        proxy_read_timeout 300;
        root $base_root/frontend/web;
        try_files $uri $uri/ /frontend/web/index.php$is_args$args;

        location ~ ^/assets/.+\.php(/|$) {
            deny all;
        }
    }

    location /ws/ {
        proxy_pass http://localhost:8080;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_connect_timeout       10m;
        proxy_send_timeout          10m;
        proxy_read_timeout          90m;
        send_timeout                10m;
    }

    location /centrifugo/ {
        rewrite ^/centrifugo/(.*)        /$1 break;
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://{{ centrifugo_host }};
    }

    location /centrifugo/metrics {
        satisfy all;
        allow 198.100.146.72;
        deny  all;

        rewrite ^/centrifugo/(.*)        /$1 break;
        proxy_pass http://{{ centrifugo_host }};
    }

    location /centrifugo/connection {
        rewrite ^/centrifugo(.*)        $1 break;

        proxy_next_upstream error;
        gzip on;
        gzip_min_length 1000;
        gzip_proxied any;
        proxy_buffering off;
        keepalive_timeout 65;
        proxy_pass http://{{ centrifugo_host }};
        proxy_read_timeout 600s;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header Host $http_host;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }

    location /twilio-records/ {
        internal;
        proxy_buffering off;
        proxy_pass https://api.twilio.com/;
    }

    location /voip-records/ {
        internal;
        proxy_buffering off;
{% if env == 'prod' %}
        proxy_pass https://api.comms.{{ domain }};
{% else %}
        proxy_pass https://api.comms.{{ env }.{{ domain }};
    }
{% endif %}

    location /admin {
        proxy_send_timeout 300;
        proxy_read_timeout 300;
        proxy_connect_timeout 300;
        alias $base_root/backend/web/;

        location = /admin/ {
            return 301 /admin;
        }

        location = /admin {
            try_files $uri /backend/web/index.php$is_args$args;
        }

        try_files $uri $uri/ /backend/web/index.php$is_args$args;

        location ~ ^/admin/.+\.(css|js|ico|png|jpe?g|gif|svg|ttf|mp4|mov|swf|pdf|zip|rar)$ {
            log_not_found off;
            access_log off;
            try_files $uri /backend/web/$1?$args;
        }

        location ~ ^/admin/assets/.+\.php(/|$) {
            deny all;
        }
    }

    location ~ ^/.+\.php(/|$) {
        rewrite (?!^/((frontend|backend)/web|admin))^ /frontend/web$uri break;
        rewrite (?!^/backend/web)^/admin(/.+)$ /backend/web$1 break;
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        fastcgi_buffers 4 256k;
        fastcgi_busy_buffers_size 256k;
        fastcgi_temp_file_write_size 256k;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        try_files $fastcgi_script_name =404;
        fastcgi_connect_timeout 300;
        fastcgi_send_timeout 300;
        fastcgi_read_timeout 300;
   }

    location ~ /\. {
        deny all;
    }
}
