{
  "token_hmac_secret_key": "{{ centrifugo_hmac_secret_key }}",
  "admin_password": "{{ centrifugo_admin_password }}",
  "admin_secret": "{{ centrifugo_admin_secret }}",
  "api_key": "{{ centrifugo_api_key }}",
  "admin": false,
  "tls": false,
  "tls_key": "centrifugossl.key",
  "tls_cert": "centrifugossl.crt",
  "prometheus": true,
  "allowed_origins": [
    "{{ common_config_params_url }}"
  ]
}
