suite_namespace: frontend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: https://sales.zeit.test
            browser: firefox
        - Yii2:
            part: init
