[Unit]
Description=PhpFpm Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=phpfpm_exporter
Group=phpfpm_exporter
Type=simple
ExecStart=/usr/local/bin/phpfpm_exporter \
    --addr ":9280" \
    --fastcgi "unix:///var/run/php/php8.1-fpm.sock"

[Install]
WantedBy=multi-user.target
