#btn-group-id-hold-call span {
    line-height: normal;
}

.wg-history-load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    font-size: 4rem;
}

.in-call-controls  a {
    color: indianred;
}

.phone-widget [data-active="false"] .in-call-controls__action:focus,
.phone-widget  [data-active="false"] .in-call-controls__action:active,
.phone-widget [data-active="false"] .in-call-controls__action:hover,
.phone-widget  [data-active="false"] .in-call-controls__action:visited,
.phone-widget  [data-active="false"] .in-call-controls__action:active:hover,
.phone-widget [data-active="false"]  .in-call-controls__action:focus:active,
.phone-widget [data-active="false"] .in-call-controls__action {
    color: inherit;
    cursor: default;
}

.call-pane__mute[data-active="false"] {
    background: #6c757d;
    cursor: default;
}
.phone-widget-icon__ongoing {
    font-size: 12px;
}

.phone-widget .call-list-item__main-action-trigger .fa {
    color: #fff;
}
.phone-widget .call-pane-calling--conference .call-pane__start-call {
    background: #fff;
}
.phone-widget .call-pane-calling--conference .call-pane__start-call.join {
    background-color: #fff7ac;
}
.phone-widget .call-pane-calling .call-pane__start-call {
    background: #fff;
}
.phone-widget .call-pane-calling .call-pane__start-call.join {
    background-color: #fff7ac;
}

.call-filter__toggle--line-active {
    border-color: #E7826C; }
.call-filter__toggle--line-active.is-checked {
    background-color: #E7826C; }

.phone-widget .call-pane__call-btns.is-on-call .calling-state-block i.fa-headphones-alt {
    display: block;
    transform: none;
    color: #2a3f54;
    font-size: 15px;
}

.phone-widget .call-pane-outgoing .contact-info-card {
    padding-top: 0; }
.phone-widget .call-pane-outgoing .contact-info-card__details {
    border: 0 none;
    padding-bottom: 0;
    margin: 0; }
.phone-widget .call-pane-outgoing .contact-info-card__line {
    justify-content: center;
    flex-direction: column;
    align-items: center; }
.phone-widget .call-pane-outgoing .contact-info-card__name {
    display: flex;
    align-items: center; }
.phone-widget .call-pane-outgoing .contact-info-card__name strong  {
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 0; }
.phone-widget .call-pane-outgoing .contact-info-card__call-type  {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6); }
.phone-widget__header-actions a[data-call-in-progress="true"]:before {
    right: -12px;
}
.phone-widget .call-pane .calling-state-block .call-in-action__time, .phone-widget .call-pane__start-call .call-in-action__time .more {
    font-size: 12px;
}
._rc-block-wrapper .btn.default {
    border-radius: unset;
    width: auto;
    display:  inline;
}
.phone-widget__header-actions a[data-missed-calls]:before {
    top: 1px;
    left: 120%;
}

.phone-widget .in-call-controls__action .fa.hold-loader {
    left: 43%;
}

.phone-widget .call-pane__call-btns.is-on-hold .calling-state-block {
    box-shadow: none;
}
.phone-widget .call-pane__call-btns.is-on-hold .calling-state-block i {
    display: none;
}
.phone-widget .call-pane__call-btns.is-on-hold .calling-state-block .call-in-action {
    transition: 0.15s;
    opacity: 1;
}
.phone-widget .call-pane__call-btns.is-on-hold .calling-state-block .call-in-action__text,
.phone-widget .call-pane__call-btns.is-on-hold .calling-state-block .call-in-action__time {
    color: #fff;
    font-weight: bold;
}
.phone-widget .call-pane__call-btns.is-on-hold .call-pane__mute,
.phone-widget .call-pane__call-btns.is-on-hold .call-pane__end-call {
    display: flex;
}
.phone-widget .call-pane__call-btns.is-on-hold .call-pane__correction {
    display: none;
}

@keyframes holdAnimation {
    0% {
        box-shadow: 0px 0px 0px 2px rgba(226, 163, 0, 0.1);
    }
    25% {
        box-shadow: 0px 0px 0px 4px rgba(226, 163, 0, 0.3), 0px 0px 0px 0px rgba(226, 163, 0, 0.1);
    }
    50% {
        box-shadow: 0px 0px 0px 2px rgba(226, 163, 0, 0.1), 0px 0px 0px 12px rgba(226, 163, 0, 0.1);
    }
}

.phone-widget .call-pane-calling .is-on-hold .call-pane__start-call {
    background: #E7826C;
    animation: holdAnimation 2.5s infinite linear;
}

.phone-widget .call-pane__call-btns.is-on-call .calling-state-block {
    animation: callAnimation 3s infinite linear;
}
.phone-widget .call-pane__end-call.end-internal {
    left: 20px;
}
.phone-widget .contact-options-list .dial-to-user {
    margin-left: 10px;
}
.phone-widget .contact-options-list {
    justify-content: normal;
}

.phone-widget .contact-info-card__line.history-details .contact-info-card__call-info {
    height: 18px;
    width: 18px;
    font-size: 8px;
    background: #668baf;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}