#btn-group-id-hold-call span {
    line-height: normal;
}

.wg-history-load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 10;
    font-size: 4rem;
}

.in-call-controls  a {
    color: indianred;
}

.phone-widget [data-active="false"] .in-call-controls__action:focus,
.phone-widget  [data-active="false"] .in-call-controls__action:active,
.phone-widget [data-active="false"] .in-call-controls__action:hover,
.phone-widget  [data-active="false"] .in-call-controls__action:visited,
.phone-widget  [data-active="false"] .in-call-controls__action:active:hover,
.phone-widget [data-active="false"]  .in-call-controls__action:focus:active,
.phone-widget [data-active="false"] .in-call-controls__action {
    color: inherit;
    cursor: default;
}

.call-pane__mute[data-active="false"] {
    background: #6c757d;
    cursor: default;
}
.phone-widget-icon__ongoing {
    font-size: 12px;
}

.phone-widget .call-list-item__main-action-trigger .fa {
    color: #fff;
}
.phone-widget .call-pane-calling--conference .call-pane__start-call {
    background: #fff;
}
.phone-widget .call-pane-calling--conference .call-pane__start-call.join {
    background-color: #fff7ac;
}
.phone-widget .call-pane-calling .call-pane__start-call {
    background: #fff;
}
.phone-widget .call-pane-calling .call-pane__start-call.join {
    background-color: #fff7ac;
}

.call-filter__toggle--line-active {
    border-color: #E7826C; }
.call-filter__toggle--line-active.is-checked {
    background-color: #E7826C; }