/*==== Colors ====*/
/*Colors in layout*/
/*==== Fonts ====*/
/*==== Breakpoints ====*/
/*===== Styles =====*/
/*======== Functions ========*/
/*======== General =========*/
html {
  height: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px;
  background-color: #eff3f7;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
}

body > main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

a {
  color: #4671a9;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1870px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1700px) {
  .col-xl-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

ul, ol {
  list-style: none inside;
  margin: 0 0 20px;
  padding: 0;
}

/*======== Typography =========*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

.text-bold {
  font-weight: bold;
}

.text-danger {
  color: #e15258;
}

.text-tooltip {
  color: #659BE0;
}

/*======== Forms =========*/
.form-control {
  box-shadow: none;
  border-radius: 3px;
  background-color: #fafafc;
  border: 1px solid #e4e8ef;
  height: 32px;
  line-height: 20px;
}

.form-control.placeholder {
  color: #d0d0d0;
}

.form-control:-moz-placeholder {
  color: #d0d0d0;
}

.form-control::-moz-placeholder {
  color: #d0d0d0;
}

.form-control:-ms-input-placeholder {
  color: #d0d0d0;
}

.form-control::-webkit-input-placeholder {
  color: #d0d0d0;
}

.form-control:focus {
  border-color: #395784;
  box-shadow: 0 0 5px #cae4f2 inset;
}

.form-control.field-error {
  border: 1px solid #e15258;
  background-color: #fee;
}

textarea {
  resize: vertical;
}

.custom-radio label,
.custom-checkbox label {
  font-weight: normal;
  padding-left: 5px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: middle;
}

.custom-radio input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-radio input[type="radio"] + label,
.custom-checkbox input[type="checkbox"] + label {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #ddd;
  padding-left: 0;
}

.custom-radio input[type="radio"][disabled] + label,
.custom-checkbox input[type="checkbox"][disabled] + label {
  background-color: #e4e8ef;
}

.custom-radio input[type="radio"]:checked + label:after {
  content: '';
  background-color: #60afd7;
  height: 8px;
  margin: 5px;
  width: 8px;
  display: block;
  border-radius: 50%;
}

.custom-checkbox input[type="checkbox"] + label {
  border-radius: 3px;
  position: relative;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: '';
  background-color: #60afd7;
  position: absolute;
  height: 7px;
  left: 4px;
  bottom: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 3px;
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: '';
  background-color: #60afd7;
  position: absolute;
  height: 13px;
  left: 10px;
  bottom: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 3px;
}

.inline-checkbox input[type="checkbox"],
.inline-radio input[type="checkbox"],
.inline-checkbox span,
.inline-radio span {
  display: inline-block;
  vertical-align: top;
}

.inline-checkbox span,
.inline-radio span {
  width: calc(100% - 30px);
}

.inline-radio input[type="radio"],
.inline-checkbox input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 4px;
}

.inline-checkbox label,
.inline-radio label {
  font-weight: normal;
  cursor: pointer;
  width: 100%;
}

.select-wrap-label {
  position: relative;
  font-weight: normal;
  overflow: hidden;
  margin: 0;
}

.select-wrap-label:before {
  top: 13px;
  right: 10px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #c2cad8 transparent transparent;
  -o-border-image: none;
  border-image: none;
  border-style: solid;
  border-width: 7px 5px;
  z-index: 4;
}

.select-wrap-label:after {
  top: 0;
  right: 30px;
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: #c2cad8;
}

.select-wrap-label select {
  float: left;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.field-loading-icon {
  margin-left: 5px;
  color: #60afd7;
}

.btn-wrapper {
  text-align: center;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-height {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: top;
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }
}

.input-group-name .form-control {
  width: 33.3%;
}

/*======== Modal ========*/
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0) scale(0.8);
  -ms-transform: translate(0, 0) scale(0.8);
  transform: translate(0, 0) scale(0.8);
  transition: -webkit-transform .15s ease-out;
  transition: transform .15s ease-out;
  transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}

.modal-backdrop.in {
  opacity: 0.7;
}

.modal-content {
  border-radius: 0;
}

.modal-header {
  padding: 10px 15px;
  background-color: #395784;
  color: #ffffff;
  text-align: center;
}

.modal-header .close {
  margin-top: 4px;
  color: #fff;
  text-shadow: none;
  opacity: .5;
}

.modal-header .close:hover {
  opacity: .8;
}

.modal-title {
  font-weight: normal;
  font-size: 22px;
}

/*======== Footer ========*/
.footer {
  background-color: #2b3f63;
  color: #fff;
}

.footer__copyright {
  padding: 6px 0;
}

/*======== Header =========*/
.container > .top-navbar-collapse .top-left-menu {
  margin-left: -15px;
}

.top-navbar {
  background-color: #2b3f63;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  color: #f4f4f4;
}

.top-navbar .navbar-toggle {
  border-color: #395784;
}

.top-navbar .navbar-toggle:focus, .top-navbar .navbar-toggle:hover {
  background-color: #395784;
}

.top-navbar .navbar-nav > li > a {
  color: #8197ad;
  padding: 10px;
  border-bottom: 1px solid #395784;
  transition: 0.15s ease-out all;
}

@media (min-width: 768px) {
  .top-navbar .navbar-nav > li > a {
    border-bottom: 0;
    padding: 15px 10px;
    color: #fff;
  }
}

.top-navbar .navbar-nav > li > a:hover {
  color: #c0cbd6;
}

.top-navbar .navbar-nav > li:first-child > a {
  padding-left: 5px;
}

.top-navbar .navbar-nav > .active > a,
.top-navbar .navbar-nav > .active > a:hover,
.top-navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #395784;
}

.top-navbar .navbar-nav .dropdown-menu {
  background-color: #fff;
}

.top-navbar .navbar-nav > .open > a, .top-navbar .navbar-nav > .open > a:focus, .top-navbar .navbar-nav > .open > a:hover {
  background-color: #395784;
  border-color: transparent;
  color: #fff;
}

.top-navbar .navbar-nav > .open > a:focus, .top-navbar .navbar-nav > .open > a:hover {
  background-color: #4d6890;
}

.top-navbar .navbar-nav > .open .dropdown-menu {
  padding: 0;
}

.top-navbar .navbar-nav > .open .dropdown-menu a {
  padding: 6px 20px;
}

.top-navbar .navbar-nav > .open .dropdown-menu a:focus, .top-navbar .navbar-nav > .open .dropdown-menu a:hover {
  background-color: #e4e8ef;
  color: #555;
}

/*======== Table =========*/
.table-custom {
  border: 1px solid #c2cad8;
  border-radius: 4px;
  overflow: hidden;
  border-collapse: separate;
  table-layout: fixed;
}

.table-custom thead > tr > td, .table-custom thead > tr > th {
  vertical-align: bottom;
  background-color: #cbd4e4;
  padding: 10px 15px;
  overflow: hidden;
  border-bottom: none;
  position: relative;
  font-weight: bold;
}

.table-custom thead > tr > td:not(:last-child):after, .table-custom thead > tr > th:not(:last-child):after {
  content: '';
  position: absolute;
  height: calc(100% - 14px);
  width: 1px;
  top: 7px;
  right: 0;
  background-color: #b5c0cf;
}

.table-custom tfoot > tr > td, .table-custom tfoot > tr > th,
.table-custom tbody > tr > td,
.table-custom tbody > tr > th {
  border-color: #c2cad8;
  padding: 8px 20px;
  vertical-align: middle;
}

.table-custom .select-wrap-label {
  width: 100%;
}

/*======== Pagination ========*/
.pagination {
  margin: 0;
  border-radius: 3px;
}

.pagination > li > a,
.pagination > li > span {
  border-color: #c2cad8;
  color: #333333;
}

.pagination > li > a:focus, .pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #333333;
  background-color: #e4e8ef;
  border-color: #c2cad8;
}

/*=========== Tooltips ===========*/
.tooltip-inner {
  background-color: #395784;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #242e34;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #242e34;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #242e34;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #242e34;
}

/*======== Other ========*/
.label {
  border-radius: 3px;
}

.search-input-label {
  position: relative;
}

.search-input-label .fa-search {
  position: absolute;
  top: 9px;
  right: 8px;
  color: #d3dce8;
}

.search-input-label .form-control {
  padding-right: 27px;
}

/*====== Backgrounds ======*/
.bg-turquoise {
  background-color: #36b3c9;
}

.bg-mint {
  background-color: #51aba4;
}

.bg-light-brown {
  background-color: #ba8e40;
}

.bg-primary {
  background-color: #395784;
}

.bg-blue {
  background-color: #4671a9;
}

.bg-green {
  background-color: #82bb8c;
}

.bg-bright-green {
  background-color: #5ca968;
}

.bg-red {
  background-color: #e15258;
}

.bg-orange {
  background-color: #f18141;
}

.bg-grey {
  background-color: #8197ad;
}

/*======== Popover Title ========*/
.popover {
  border-color: #395784;
  padding: 0;
  z-index: 1000;
}

.popover.bottom > .arrow {
  border-bottom-color: transparent;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #395784;
}

.popover.fade {
  transition: opacity .05s linear;
}

.popover-title {
  background-color: #395784;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border: none;
}

fieldset {
  border: #d5d5d5 1px solid;
  border-radius: 3px;
  padding: 10px;
}

.well {
  border-radius: 0;
  border: 1px solid #e2e5ea;
  background-color: #f3f4f6;
  box-shadow: none;
  padding: 10px;
}

.well .form-control {
  background-color: #fff;
}

.alert {
  padding: 10px 15px;
  font-size: 13px;
  border: none;
  border-radius: 0;
  position: relative;
}

.alert-danger {
  color: #fee;
  background-color: #e15258;
  box-shadow: 6px 0 0 #ea868a inset;
}

.alert-warning {
  color: #F9F8F5;
  background-color: #e3b846;
  box-shadow: 6px 0 0 #f4d480 inset;
}

.alert-success {
  color: #F9F8F5;
  background-color: #7cb285;
  box-shadow: 6px 0 0 #a8cfaf inset;
}

.alert-info {
  background-color: #36b3c9;
  color: #fff;
  box-shadow: 6px 0 0 #72cad9 inset;
}

.alert > .fa {
  font-size: 22px;
  position: absolute;
  top: 8px;
  left: 16px;
}

.alert > .fa + div {
  padding-left: 30px;
}

table {
  font-size: 13px;
}

table thead, table th {
  background-color: #F9F8F5;
}

.table, .table-bordered, .table-striped {
  background-color: #fff;
}

.table thead > tr > th, .table-bordered thead > tr > th, .table-striped thead > tr > th {
  padding: 12px 10px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th, .table-bordered thead > tr > th,
.table-bordered tbody > tr > th,
.table-bordered tfoot > tr > th, .table-striped thead > tr > th,
.table-striped tbody > tr > th,
.table-striped tfoot > tr > th {
  color: #666;
}

.table.table-neutral, .table-bordered.table-neutral, .table-striped.table-neutral {
  border-color: #c5cfd6;
}

.table.table-neutral thead > tr > th, .table-bordered.table-neutral thead > tr > th, .table-striped.table-neutral thead > tr > th {
  border-bottom-color: #d3dce8;
}

.table.table-neutral thead, .table.table-neutral thead th, .table.table-neutral tfoot th, .table-bordered.table-neutral thead, .table-bordered.table-neutral thead th, .table-bordered.table-neutral tfoot th, .table-striped.table-neutral thead, .table-striped.table-neutral thead th, .table-striped.table-neutral tfoot th {
  background-color: #eff3f7;
}

.table.table-neutral tbody th, .table-bordered.table-neutral tbody th, .table-striped.table-neutral tbody th {
  background-color: #f7f9fb;
}

.table.table-neutral tbody tr th:not(:first-child), .table-bordered.table-neutral tbody tr th:not(:first-child), .table-striped.table-neutral tbody tr th:not(:first-child) {
  border-left: 1px solid #c5cfd6;
}

.table.table-info, .table-bordered.table-info, .table-striped.table-info {
  border-color: #bddaef;
}

.table.table-info thead > tr > th, .table-bordered.table-info thead > tr > th, .table-striped.table-info thead > tr > th {
  border-bottom-color: #bddaef;
}

.table.table-info thead, .table.table-info thead th, .table.table-info tfoot th, .table-bordered.table-info thead, .table-bordered.table-info thead th, .table-bordered.table-info tfoot th, .table-striped.table-info thead, .table-striped.table-info thead th, .table-striped.table-info tfoot th {
  background-color: #e2eef7;
}

.table.table-info tbody th, .table-bordered.table-info tbody th, .table-striped.table-info tbody th {
  background-color: #f1f7fb;
}

.table.table-info tbody tr th:not(:first-child), .table-bordered.table-info tbody tr th:not(:first-child), .table-striped.table-info tbody tr th:not(:first-child) {
  border-left: 1px solid #bddaef;
}

.table.table-mint, .table-bordered.table-mint, .table-striped.table-mint {
  border-color: #daeae7;
}

.table.table-mint thead > tr > th, .table-bordered.table-mint thead > tr > th, .table-striped.table-mint thead > tr > th {
  border-bottom-color: #daeae7;
}

.table.table-mint thead, .table.table-mint thead th, .table.table-mint tfoot th, .table-bordered.table-mint thead, .table-bordered.table-mint thead th, .table-bordered.table-mint tfoot th, .table-striped.table-mint thead, .table-striped.table-mint thead th, .table-striped.table-mint tfoot th {
  background-color: #eef9f7;
}

.table.table-mint tbody th, .table-bordered.table-mint tbody th, .table-striped.table-mint tbody th {
  background-color: #f7fcfb;
}

.table.table-mint tbody tr th:not(:first-child), .table-bordered.table-mint tbody tr th:not(:first-child), .table-striped.table-mint tbody tr th:not(:first-child) {
  border-left: 1px solid #daeae7;
}

.table.table-success, .table-bordered.table-success, .table-striped.table-success {
  border-color: #e0efd8;
}

.table.table-success thead > tr > th, .table-bordered.table-success thead > tr > th, .table-striped.table-success thead > tr > th {
  border-bottom-color: #daead1;
}

.table.table-success thead, .table.table-success thead th, .table.table-success tfoot th, .table-bordered.table-success thead, .table-bordered.table-success thead th, .table-bordered.table-success tfoot th, .table-striped.table-success thead, .table-striped.table-success thead th, .table-striped.table-success tfoot th {
  background-color: #eff5ee;
}

.table.table-success tbody th, .table-bordered.table-success tbody th, .table-striped.table-success tbody th {
  background-color: #f7faf7;
}

.table.table-success tbody tr th:not(:first-child), .table-bordered.table-success tbody tr th:not(:first-child), .table-striped.table-success tbody tr th:not(:first-child) {
  border-left: 1px solid #e0efd8;
}

.table {
  border: 1px solid #dddddd;
}

.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
  border-top: 1px solid #EDEDED;
  padding: 12px 10px;
}

.table thead > tr > th.td-input, .table thead > tr > td.td-input, .table tbody > tr > th.td-input, .table tbody > tr > td.td-input, .table tfoot > tr > th.td-input, .table tfoot > tr > td.td-input {
  padding: 5px;
  vertical-align: middle;
}

.table thead > tr > th label, .table thead > tr > td label, .table tbody > tr > th label, .table tbody > tr > td label, .table tfoot > tr > th label, .table tfoot > tr > td label {
  margin-bottom: 0;
}

.table tbody tr:first-child td, .table tbody tr:first-child th {
  border-top-color: #ddd;
}

.table tbody tr:last-child td, .table tbody tr:last-child th {
  border-bottom: 1px solid #EDEDED;
}

.table-bordered {
  border: 1px solid #EDEDED;
}

.table-bordered thead > tr > th, .table-bordered thead > tr > td, .table-bordered tbody > tr > th, .table-bordered tbody > tr > td, .table-bordered tfoot > tr > th, .table-bordered tfoot > tr > td {
  border-color: #EDEDED;
}

.table-striped > tbody > tr {
  transition: 0.1s ease-in background;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #fff;
}

.table-striped > tbody > tr:nth-child(even) {
  background-color: rgba(247, 246, 241, 0.2);
}

.table-striped > tbody > tr.highlighted {
  background-color: #dbf3f7 !important;
}

.table-striped > tbody > tr:hover,
.table-striped > tbody > tr.highlighted:hover {
  background-color: rgba(131, 208, 132, 0.2) !important;
}

.table-striped.table-neutral > tbody > tr:nth-child(even) {
  background-color: rgba(222, 233, 239, 0.2);
}

.table-striped.table-info > tbody > tr:nth-child(even) {
  background-color: rgba(222, 242, 255, 0.2);
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

.table-fixed {
  table-layout: fixed;
}

.table-collapsing-link {
  font-size: 15px;
  font-weight: bold;
}

.table-collapsing-link.collapsed .fa-caret-up {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.table-mint .table-collapsing-link {
  color: #0d968c;
}

.panel {
  border-color: #c2cad8;
  background-color: #fff;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 20px;
}

.panel .panel-heading {
  border-radius: 0;
  border-bottom: 0;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  display: block;
  width: 100%;
  font-size: 15px;
}

.panel .collapsing-heading {
  padding: 0;
  position: relative;
}

.panel .collapsing-heading__arrow {
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  right: 20px;
  border-style: solid;
  border-width: 7px 5px;
  top: 7px;
  border-color: transparent transparent #fff;
}

.panel .collapsing-heading__collapse-link {
  color: #fff;
  font-weight: bold;
  padding: 10px 15px 5px;
  display: block;
  width: 100%;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.panel .collapsing-heading__collapse-link.collapsed .collapsing-heading__arrow {
  top: 14px;
  border-color: #fff transparent transparent;
}

.panel.panel-wrapper > .panel-body {
  padding: 0;
}

.panel.panel-wrapper > .panel-body .table {
  border: 0;
}

.panel .table {
  margin-bottom: 0;
}

.panel-info {
  border-color: #97bfd8;
}

.panel-info .panel-heading {
  background-color: #97bfd8;
  border-bottom: 2px solid #6da5c7;
  text-shadow: 0 1px 0 #6da5c7;
}

.panel-info .panel-footer {
  background-color: #eff5f9;
}

.panel-success {
  border-color: #82bb8c;
}

.panel-success .panel-heading {
  background-color: #82bb8c;
  border-bottom: 2px solid #5ca968;
  text-shadow: 0 1px 0 #5ca968;
}

.panel-success .panel-footer {
  background-color: #ecf5ee;
}

.panel-mint {
  border-color: #51aba4;
}

.panel-mint .panel-heading {
  background-color: #51aba4;
  border-bottom: 2px solid #0d968c;
  text-shadow: 0 1px 0 #0d968c;
}

.panel-mint .panel-footer {
  background-color: #e5f2f1;
}

.panel-warning {
  border-color: #ecaa98;
}

.panel-warning .panel-heading {
  background-color: #ecaa98;
  border-bottom: 2px solid #d4846d;
  text-shadow: 0 1px 0 #d4846d;
}

.panel-warning .panel-footer {
  background-color: #fcf2f0;
}

.panel-primary {
  border-color: #5c80af;
}

.panel-primary .panel-heading {
  background-color: #5c80af;
  border-bottom: 2px solid #2b3f63;
  text-shadow: 0 1px 0 #2b3f63;
}

.panel-primary .panel-footer {
  background-color: #e7ecf3;
}

.panel-neutral {
  border-color: #acb8c5;
}

.panel-neutral .panel-heading {
  background-color: #acb8c5;
  border-bottom: 2px solid #91a4b7;
  text-shadow: 0 1px 0 #91a4b7;
}

.panel-neutral .panel-footer {
  background-color: #f3f4f6;
}

.panel-default {
  border-color: #c4c6c7;
}

.panel-default .panel-heading {
  background-color: #c4c6c7;
  border-bottom: 2px solid #aeb4b7;
  text-shadow: 0 1px 0 #aeb4b7;
}

.panel-default .panel-footer {
  background-color: #f6f6f7;
}

.panel-main {
  background-color: #fafafc;
}

.panel-main__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #c2cad8;
  padding: 15px 20px;
  background-color: #fff;
}

.panel-main__header-info {
  font-size: 0;
  letter-spacing: 0;
  margin-left: -10px;
}

.panel-main__header-info > * {
  font-size: 14px;
  letter-spacing: normal;
  display: inline-block;
}

.panel-main__actions .btn {
  margin-left: 5px;
}

.panel-main__actions .btn:first-child {
  margin-left: 0;
}

/*======== Buttons =========*/
.btn {
  border: 0;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 13px;
}

.btn:hover {
  opacity: 0.9;
  color: #ffffff;
  box-shadow: none;
}

.btn:active, .btn:focus {
  opacity: 0.8;
  box-shadow: none;
  border: 0;
  color: #ffffff;
  outline: none;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 3px 15px;
  font-size: 12px;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 10px 23px;
  font-size: 16px;
}

.btn-primary {
  color: #fff;
  background-color: #4671a9;
  border-color: #4671a9;
}

.btn-primary:hover, .btn-primary.hover, .btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #375985;
  border-color: #34547e;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #4671a9;
  border-color: #4671a9;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #375985;
  background-image: none;
  border-color: #34547e;
}

.btn-success {
  color: #fff;
  background-color: #82bb8c;
  border-color: #82bb8c;
}

.btn-success:hover, .btn-success.hover, .btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #61a96e;
  border-color: #5aa568;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #82bb8c;
  border-color: #82bb8c;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #61a96e;
  background-image: none;
  border-color: #5aa568;
}

.btn-danger {
  color: #fff;
  background-color: #e15258;
  border-color: #e15258;
}

.btn-danger:hover, .btn-danger.hover, .btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #d9272e;
  border-color: #d1242c;
}

.btn-danger.disabled, .btn-danger:disabled {
  background-color: #e15258;
  border-color: #e15258;
}

.btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d9272e;
  background-image: none;
  border-color: #d1242c;
}

.btn-default {
  color: #fff;
  background-color: #8197ad;
  border-color: #8197ad;
}

.btn-default:hover, .btn-default.hover, .btn-default:focus, .btn-default.focus {
  color: #fff;
  background-color: #637e98;
  border-color: #5f7892;
}

.btn-default.disabled, .btn-default:disabled {
  background-color: #8197ad;
  border-color: #8197ad;
}

.btn-default:active, .btn-default.active,
.show > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #637e98;
  background-image: none;
  border-color: #5f7892;
}

.btn-action {
  color: #fff;
  background-color: #659BE0;
  border-color: #659BE0;
}

.btn-action:hover, .btn-action.hover, .btn-action:focus, .btn-action.focus {
  color: #fff;
  background-color: #3b7fd7;
  border-color: #327ad6;
}

.btn-action.disabled, .btn-action:disabled {
  background-color: #659BE0;
  border-color: #659BE0;
}

.btn-action:active, .btn-action.active,
.show > .btn-action.dropdown-toggle {
  color: #fff;
  background-color: #3b7fd7;
  background-image: none;
  border-color: #327ad6;
}

.btn-mint {
  color: #fff;
  background-color: #51aba4;
  border-color: #51aba4;
}

.btn-mint:hover, .btn-mint.hover, .btn-mint:focus, .btn-mint.focus {
  color: #fff;
  background-color: #418883;
  border-color: #3d817c;
}

.btn-mint.disabled, .btn-mint:disabled {
  background-color: #51aba4;
  border-color: #51aba4;
}

.btn-mint:active, .btn-mint.active,
.show > .btn-mint.dropdown-toggle {
  color: #fff;
  background-color: #418883;
  background-image: none;
  border-color: #3d817c;
}

.collapsing-link {
  display: block;
  border-bottom: 2px solid #ddd;
  position: relative;
  padding: 0 0 5px;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.collapsing-link__arrow {
  height: 0;
  width: 0;
  border-color: transparent transparent #4671a9;
  display: inline-block;
  right: 0;
  border-style: solid;
  border-width: 7px 5px;
  vertical-align: baseline;
  margin-left: 3px;
  position: relative;
}

.collapsing-link.collapsed .collapsing-link__arrow {
  border-color: #4671a9 transparent transparent;
  top: 7px;
}

.collapsing-link--success, .collapsing-link--success:hover, .collapsing-link--success:focus, .collapsing-link--success:active {
  color: #5ca968;
  border-color: #5ca968;
}

.collapsing-link--success .collapsing-link__arrow {
  border-color: transparent transparent #5ca968;
}

.collapsing-link--success.collapsed .collapsing-link__arrow {
  border-color: #5ca968 transparent transparent;
}

.collapsing-link--info, .collapsing-link--info:hover, .collapsing-link--info:focus, .collapsing-link--info:active {
  color: #3e80a9;
  border-color: #3e80a9;
}

.collapsing-link--info .collapsing-link__arrow {
  border-color: transparent transparent #3e80a9;
}

.collapsing-link--info.collapsed .collapsing-link__arrow {
  border-color: #3e80a9 transparent transparent;
}

.collapsing-link--mint, .collapsing-link--mint:hover, .collapsing-link--mint:focus, .collapsing-link--mint:active {
  color: #0d968c;
  border-color: #0d968c;
}

.collapsing-link--mint .collapsing-link__arrow {
  border-color: transparent transparent #0d968c;
}

.collapsing-link--mint.collapsed .collapsing-link__arrow {
  border-color: #0d968c transparent transparent;
}

.label-md {
  font-size: 12px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.badge-success {
  background-color: #5ca968;
}

.badge-warning {
  background-color: #d4846d;
}

.badge-info {
  background-color: #659BE0;
}

.badge-neutral {
  background-color: #8e99a5;
}

.badge-mint {
  background-color: #51aba4;
}

.risk-badge {
  width: 85px;
  height: 7px;
  border-radius: 4px;
  background-color: #dddddd;
  display: block;
  margin-left: 0;
}

.risk-badge--success {
  background-color: #5ca968;
}

.risk-badge--warning {
  background-color: #efc24a;
}

.risk-badge--info {
  background-color: #659BE0;
}

.risk-badge--neutral {
  background-color: #8e99a5;
}

.risk-badge--danger {
  background-color: #e15258;
}

.label-success {
  background-color: #5ca968;
}

.label-warning {
  background-color: #d4846d;
}

.label-gold {
  background-color: #efc24a;
}

.label-info {
  background-color: #659BE0;
}

.label-neutral {
  background-color: #8e99a5;
}

.modal-danger .modal-body,
.modal-warning .modal-body,
.modal-success .modal-body {
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.modal-danger .modal-header {
  background-color: #e15258;
}

.modal-warning .modal-header {
  background-color: #efc24a;
}

.modal-success .modal-header {
  background-color: #82bb8c;
}

.tab-content {
  padding: 20px;
  border: 1px solid #dadada;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.nav-tabs > li > a {
  cursor: pointer;
}

.flag {
  background: url("../img/sprite-flags.png") no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.flag__vn {
  background-position: -64px -224px;
}

.flag__lk {
  background-position: -176px -112px;
}

.flag__de {
  background-position: -48px -48px;
}

.flag__tv {
  background-position: -96px -208px;
}

.flag__sv {
  background-position: -112px -192px;
}

.flag__kw {
  background-position: -64px -112px;
}

.flag__br {
  background-position: -176px -16px;
}

.flag__to {
  background-position: -48px -208px;
}

.flag__nl {
  background-position: -224px -144px;
}

.flag__bz {
  background-position: -16px -32px;
}

.flag__vu {
  background-position: -80px -224px;
}

.flag__mr {
  background-position: 0 -144px;
}

.flag__dz {
  background-position: -128px -48px;
}

.flag__gu {
  background-position: -80px -80px;
}

.flag__ca {
  background-position: -32px -32px;
}

.flag__rw {
  background-position: -112px -176px;
}

.flag__uy {
  background-position: -192px -208px;
}

.flag__ht {
  background-position: -176px -80px;
}

.flag__sd {
  background-position: -176px -176px;
}

.flag__za {
  background-position: -128px -224px;
}

.flag__pw {
  background-position: 0 -176px;
}

.flag__sa {
  background-position: -128px -176px;
}

.flag__ai {
  background-position: -64px 0;
}

.flag__fm {
  background-position: -48px -64px;
}

.flag__aw {
  background-position: -208px 0;
}

.flag__cl {
  background-position: -144px -32px;
}

.flag__id {
  background-position: -208px -80px;
}

.flag__bs {
  background-position: -192px -16px;
}

.flag__co {
  background-position: -192px -32px;
}

.flag__mk {
  background-position: -144px -128px;
}

.flag__mv {
  background-position: -64px -144px;
}

.flag__ph {
  background-position: -144px -160px;
}

.flag__qa {
  background-position: -32px -176px;
}

.flag__bh {
  background-position: -96px -16px;
}

.flag__hu {
  background-position: -192px -80px;
}

.flag__am {
  background-position: -96px 0;
}

.flag__pf {
  background-position: -112px -160px;
}

.flag__uz {
  background-position: -208px -208px;
}

.flag__cn {
  background-position: -176px -32px;
}

.flag__by {
  background-position: 0 -32px;
}

.flag__an {
  background-position: -112px 0;
}

.flag__bg {
  background-position: -80px -16px;
}

.flag__tc {
  background-position: -160px -192px;
}

.flag__tg {
  background-position: -192px -192px;
}

.flag__gq {
  background-position: -32px -80px;
}

.flag__lv {
  background-position: -16px -128px;
}

.flag__sb {
  background-position: -144px -176px;
}

.flag__ge {
  background-position: -144px -64px;
}

.flag__ee {
  background-position: -160px -48px;
}

.flag__bm {
  background-position: -128px -16px;
}

.flag__bd {
  background-position: -32px -16px;
}

.flag__us {
  background-position: -176px -208px;
}

.flag__td {
  background-position: -176px -192px;
}

.flag__my {
  background-position: -112px -144px;
}

.flag__cm {
  background-position: -160px -32px;
}

.flag__ga {
  background-position: -96px -64px;
}

.flag__fr {
  background-position: -80px -64px;
}

.flag__dk {
  background-position: -80px -48px;
}

.flag__eh {
  background-position: -192px -48px;
}

.flag__jm {
  background-position: -128px -96px;
}

.flag__cy {
  background-position: -16px -48px;
}

.flag__zw {
  background-position: -160px -224px;
}

.flag__kz {
  background-position: -96px -112px;
}

.flag__bw {
  background-position: -224px -16px;
}

.flag__tm {
  background-position: -16px -208px;
}

.flag__ne {
  background-position: -176px -144px;
}

.flag__nr {
  background-position: -32px -160px;
}

.flag__tw {
  background-position: -112px -208px;
}

.flag__hk {
  background-position: -128px -80px;
}

.flag__na {
  background-position: -144px -144px;
}

.flag__cf {
  background-position: -64px -32px;
}

.flag__th {
  background-position: -208px -192px;
}

.flag__ye {
  background-position: -112px -224px;
}

.flag__dj {
  background-position: -64px -48px;
}

.flag__cg {
  background-position: -80px -32px;
}

.flag__pg {
  background-position: -128px -160px;
}

.flag__at {
  background-position: -176px 0;
}

.flag__mz {
  background-position: -128px -144px;
}

.flag__rs {
  background-position: -80px -176px;
}

.flag__vi {
  background-position: -48px -224px;
}

.flag__mh {
  background-position: -128px -128px;
}

.flag__ad {
  background-position: 0 0;
}

.flag__gw {
  background-position: -96px -80px;
}

.flag__om {
  background-position: -64px -160px;
}

.flag__gg {
  background-position: -160px -64px;
}

.flag__au {
  background-position: -192px 0;
}

.flag__ls {
  background-position: -208px -112px;
}

.flag__is {
  background-position: -80px -96px;
}

.flag__it {
  background-position: -96px -96px;
}

.flag__gr {
  background-position: -48px -80px;
}

.flag__tl {
  background-position: 0 -208px;
}

.flag__jp {
  background-position: -160px -96px;
}

.flag__eg {
  background-position: -176px -48px;
}

.flag__do {
  background-position: -112px -48px;
}

.flag__nz {
  background-position: -48px -160px;
}

.flag__ci {
  background-position: -112px -32px;
}

.flag__sy {
  background-position: -128px -192px;
}

.flag__bo {
  background-position: -160px -16px;
}

.flag__ws {
  background-position: -96px -224px;
}

.flag__ve {
  background-position: -16px -224px;
}

.flag__et {
  background-position: 0 -64px;
}

.flag__gd {
  background-position: -128px -64px;
}

.flag__mw {
  background-position: -80px -144px;
}

.flag__pt {
  background-position: -224px -160px;
}

.flag__sg {
  background-position: -208px -176px;
}

.flag__vc {
  background-position: 0 -224px;
}

.flag__tj {
  background-position: -224px -192px;
}

.flag__jo {
  background-position: -144px -96px;
}

.flag__in {
  background-position: -32px -96px;
}

.flag__tt {
  background-position: -80px -208px;
}

.flag__sz {
  background-position: -144px -192px;
}

.flag__fi {
  background-position: -16px -64px;
}

.flag__mc {
  background-position: -64px -128px;
}

.flag__va {
  background-position: -224px -208px;
}

.flag__gy {
  background-position: -112px -80px;
}

.flag__bb {
  background-position: -16px -16px;
}

.flag__mm {
  background-position: -176px -128px;
}

.flag__pk {
  background-position: -160px -160px;
}

.flag__dm {
  background-position: -96px -48px;
}

.flag__py {
  background-position: -16px -176px;
}

.flag__je {
  background-position: -112px -96px;
}

.flag__pe {
  background-position: -96px -160px;
}

.flag__vg {
  background-position: -32px -224px;
}

.flag__bn {
  background-position: -144px -16px;
}

.flag__af {
  background-position: -32px 0;
}

.flag__kh {
  background-position: -208px -96px;
}

.flag__mx {
  background-position: -96px -144px;
}

.flag__lc {
  background-position: -144px -112px;
}

.flag__mn {
  background-position: -192px -128px;
}

.flag__ao {
  background-position: -128px 0;
}

.flag__ir {
  background-position: -64px -96px;
}

.flag__st {
  background-position: -96px -192px;
}

.flag__pr {
  background-position: -192px -160px;
}

.flag__lb {
  background-position: -128px -112px;
}

.flag__sr {
  background-position: -80px -192px;
}

.flag__mq {
  background-position: -224px -128px;
}

.flag__az {
  background-position: -224px 0;
}

.flag__tr {
  background-position: -64px -208px;
}

.flag__mo {
  background-position: -208px -128px;
}

.flag__nc {
  background-position: -160px -144px;
}

.flag__gn {
  background-position: 0 -80px;
}

.flag__be {
  background-position: -48px -16px;
}

.flag__zm {
  background-position: -144px -224px;
}

.flag__bt {
  background-position: -208px -16px;
}

.flag__ck {
  background-position: -128px -32px;
}

.flag__ms {
  background-position: -16px -144px;
}

.flag__cu {
  background-position: -224px -32px;
}

.flag__al {
  background-position: -80px 0;
}

.flag__ni {
  background-position: -208px -144px;
}

.flag__np {
  background-position: -16px -160px;
}

.flag__gh {
  background-position: -176px -64px;
}

.flag__ch {
  background-position: -96px -32px;
}

.flag__ps {
  background-position: -208px -160px;
}

.flag__ae {
  background-position: -16px 0;
}

.flag__pl {
  background-position: -176px -160px;
}

.flag__ro {
  background-position: -64px -176px;
}

.flag__ie {
  background-position: -224px -80px;
}

.flag__gb {
  background-position: -112px -64px;
}

.flag__gp {
  background-position: -16px -80px;
}

.flag__fo {
  background-position: -64px -64px;
}

.flag__il {
  background-position: 0 -96px;
}

.flag__ag {
  background-position: -48px 0;
}

.flag__bj {
  background-position: -112px -16px;
}

.flag__tn {
  background-position: -32px -208px;
}

.flag__km {
  background-position: 0 -112px;
}

.flag__ma {
  background-position: -48px -128px;
}

.flag__kg {
  background-position: -192px -96px;
}

.flag__ki {
  background-position: -224px -96px;
}

.flag__gl {
  background-position: -208px -64px;
}

.flag__ar {
  background-position: -144px 0;
}

.flag__lr {
  background-position: -192px -112px;
}

.flag__mg {
  background-position: -112px -128px;
}

.flag__kr {
  background-position: -48px -112px;
}

.flag__mu {
  background-position: -48px -144px;
}

.flag__ec {
  background-position: -144px -48px;
}

.flag__kn {
  background-position: -16px -112px;
}

.flag__ug {
  background-position: -160px -208px;
}

.flag__cz {
  background-position: -32px -48px;
}

.flag__as {
  background-position: -160px 0;
}

.flag__im {
  background-position: -16px -96px;
}

.flag__hr {
  background-position: -160px -80px;
}

.flag__li {
  background-position: -160px -112px;
}

.flag__md {
  background-position: -80px -128px;
}

.flag__ru {
  background-position: -96px -176px;
}

.flag__se {
  background-position: -192px -176px;
}

.flag__lt {
  background-position: -224px -112px;
}

.flag__gi {
  background-position: -192px -64px;
}

.flag__ml {
  background-position: -160px -128px;
}

.flag__sm {
  background-position: -32px -192px;
}

.flag__ua {
  background-position: -144px -208px;
}

.flag__cv {
  background-position: 0 -48px;
}

.flag__tz {
  background-position: -128px -208px;
}

.flag__cr {
  background-position: -208px -32px;
}

.flag__sk {
  background-position: 0 -192px;
}

.flag__sc {
  background-position: -160px -176px;
}

.flag__gt {
  background-position: -64px -80px;
}

.flag__pa {
  background-position: -80px -160px;
}

.flag__ky {
  background-position: -80px -112px;
}

.flag__ke {
  background-position: -176px -96px;
}

.flag__so {
  background-position: -64px -192px;
}

.flag__sl {
  background-position: -16px -192px;
}

.flag__fj {
  background-position: -32px -64px;
}

.flag__cd {
  background-position: -48px -32px;
}

.flag__si {
  background-position: -224px -176px;
}

.flag__no {
  background-position: 0 -160px;
}

.flag__mt {
  background-position: -32px -144px;
}

.flag__ng {
  background-position: -192px -144px;
}

.flag__gm {
  background-position: -224px -64px;
}

.flag__iq {
  background-position: -48px -96px;
}

.flag__hn {
  background-position: -144px -80px;
}

.flag__bf {
  background-position: -64px -16px;
}

.flag__lu {
  background-position: 0 -128px;
}

.flag__er {
  background-position: -208px -48px;
}

.flag__sn {
  background-position: -48px -192px;
}

.flag__re {
  background-position: -48px -176px;
}

.flag__kp {
  background-position: -32px -112px;
}

.flag__ba {
  background-position: 0 -16px;
}

.flag__ly {
  background-position: -32px -128px;
}

.flag__es {
  background-position: -224px -48px;
}

.flag__me {
  background-position: -96px -128px;
}

.flag__la {
  background-position: -112px -112px;
}

/***Panels***/
.top-left-menu .badge {
  margin-left: 4px;
  vertical-align: baseline;
}

.errors-block {
  margin-bottom: 20px;
}

.btn-with-icon {
  position: relative;
  padding-left: 50px;
}

.btn-with-icon .btn-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  line-height: 30px;
}

.btn-with-icon .btn-icon i {
  vertical-align: middle;
  font-size: 13px;
}

.btn-with-icon.btn-sm .btn-icon {
  line-height: 24px;
}

.actions-btn-group {
  font-size: 0;
  letter-spacing: 0;
  text-align: center;
}

.actions-btn-group > * {
  font-size: 14px;
  letter-spacing: normal;
  display: inline-block;
}

.actions-btn-group > .btn {
  margin: 0 5px;
}

.panel-action-header {
  border-bottom: 1px solid #c2cad8;
}

.panel-action-header .actions-btn-group {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.panel-action-header .actions-btn-group > .btn {
  margin-bottom: 10px;
}

.history-block {
  background-color: #fff;
}

.bounded-block {
  max-width: 700px;
  margin: 0 auto;
}

.col-flag {
  width: 50px;
  padding: 10px;
}

.dob-group {
  min-width: 170px;
}

.dob-group .dob-day,
.dob-group .dob-month {
  width: 25%;
}

.dob-group .dob-year {
  width: 50%;
}

.dob-group .form-control {
  min-width: 40px !important;
}

.inline-block {
  display: inline-block !important;
}

.select2-container--krajee .select2-selection {
  box-shadow: none;
  background-color: #fafafc;
  border: 1px solid #e4e8ef;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border-left: 1px solid #e4e8ef;
  width: 30px;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-width: 7px 5px 0 4px;
  border-color: #e4e8ef transparent transparent transparent;
}

.table .btn-group .dropdown-menu {
  left: auto;
  right: 0;
  text-align: right;
  padding: 5px;
}

.table .btn-group .dropdown-menu.dropdown-btns {
  min-width: 100%;
}

.table .btn-group .dropdown-menu .btn {
  color: #fff;
  margin-bottom: 5px;
  display: block;
}

.modal-body .actions-btn-wrapper {
  padding-top: 10px;
}

.panel-main__actions .btn-primary {
  background-color: #5988c5;
}

.field-phone__code, .field-phone__number {
  display: table-cell;
  float: left;
}

.field-phone__code {
  width: 80px;
}

.field-phone__code select {
  padding-right: 25px;
}

.field-phone__number {
  width: calc(100% - 80px) !important;
}

.box-bordered {
  border: 1px solid #cbd4e4;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}

.box-bordered hr {
  border-top-color: #d1d9e6;
}

.bg-shaded {
  background-color: rgba(203, 212, 228, 0.1);
}

.select-wrap-label {
  display: block;
}

.rate-input-group {
  border: none;
  display: inline-block;
  padding: 0 10px;
  vertical-align: -3px;
}

.rate-input-group__item {
  display: inline-block;
  font-size: 0;
  letter-spacing: 0;
}

.rate-input-group input {
  display: none;
}

.rate-input-group label {
  font-size: 18px;
  color: #e6e6e6;
  letter-spacing: normal;
  float: right;
  cursor: pointer;
  margin: 0 2px;
}

.rate-input-group label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rate-input-group input:checked ~ label {
  color: #efc24a;
}

.rate-input-group:not(:checked) label:hover,
.rate-input-group:not(:checked) label:hover ~ label {
  color: #f7e0a9;
}

.rate-input-group input:checked + label:hover,
.rate-input-group input:checked ~ label:hover,
.rate-input-group label:hover ~ input:checked ~ label,
.rate-input-group input:checked ~ label:hover ~ label {
  color: #f7e0a9;
}

.page-header {
  background-color: #395784;
  color: #fff;
  padding: 20px 10px;
  margin: 0;
  border-bottom: none;
}

.page-header__title {
  font-size: 20px;
  margin-bottom: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .page-header__title {
    font-size: 24px;
  }
}

.page-header__general {
  text-align: right;
}

.page-header__general-item {
  font-size: 15px;
  padding: 0 10px;
  display: inline-block;
  line-height: 1.1em;
}

.page-header__general-item.custom-checkbox {
  vertical-align: 2px;
}

.page-header__general-item strong {
  color: #b1bed0;
}

.page-header__general-item + .page-header__general-item {
  border-left: rgba(255, 255, 255, 0.2) solid 1px;
}

.page-header__general-item .status-label {
  margin-left: 5px;
  min-width: 90px;
}

.page-header__general-item:last-child {
  padding-right: 0;
}

.page-header__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.table-filters {
  padding: 20px 0 0;
}

.table-filters__search-field {
  text-align: right;
}

.form-inline .table-filters__search-field {
  display: block;
}

.table-filters__search-label {
  margin-right: 5px;
  display: none;
}

@media (min-width: 768px) {
  .table-filters__search-label {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .form-inline .table-filters__search-input {
    width: 400px;
  }
}

.table-pagination {
  margin-bottom: 18px;
  text-align: center;
}

.table-pagination__pagination-wrap {
  text-align: center;
}

@media (min-width: 768px) {
  .table-pagination__pagination-wrap {
    text-align: right;
  }
}

.table-pagination__entries-num-text {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .table-pagination__entries-num-text {
    text-align: left;
    margin-bottom: 0;
  }
}

.status-label {
  min-width: 140px;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.item-view-page .page-header {
  margin-bottom: 40px;
}

.sale-identifier {
  padding: 15px 0 17px;
}

/**View**/
.itinerary-block .table thead > tr th:first-child {
  width: 80%;
}

.agents-notes-block .add-note {
  margin-top: 20px;
}

.diff-itinerary {
  border-radius: 3px;
  border: 1px solid #c2cad8;
  padding: 10px 4px 4px;
}

.diff-itinerary__title {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.diff-itinerary.diff-itinerary-old {
  border-color: #fcc;
}

.diff-itinerary.diff-itinerary-old .item-changed {
  background-color: #fcc;
}

.diff-itinerary.diff-itinerary-new {
  border-color: #c2cad8;
}

.diff-itinerary.diff-itinerary-new .item-changed {
  background-color: #daead1;
}

.diff-itinerary__content {
  font-size: 13px;
  border-radius: 3px;
}

.diff-itinerary__item {
  padding: 7px;
  background-color: #f4f4f4;
}

.diff-itinerary__item:not(:last-child) {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 0;
}

.diff-itinerary__conf-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.item-old {
  background-color: #fcc;
}

.item-new {
  background-color: #daead1;
}

#popover-link-add-note + .popover {
  min-width: 400px;
}

#popover-link-add-note + .popover textarea {
  resize: none;
}

.modal-close-sale__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-close-sale__content fieldset {
  padding: 10px 15px 0;
  margin-bottom: 15px;
}

.modal-close-sale__link-wrapper > a {
  margin-right: 10px;
}

.form-control.changed {
  border: 1px solid #efc24a;
  background-color: #fcf3db;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  z-index: 999;
}

.preloader {
  color: #fff;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 25%;
  left: 50%;
  margin-left: -75px;
  text-align: center;
}

.preloader .fa {
  font-size: 60px;
  margin-bottom: 7px;
}

.preloader__text {
  font-size: 16px;
  font-weight: 600;
}

.site-login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
}

.site-login .panel-heading {
  padding: 17px 0;
  text-align: center;
}

.site-login .panel-heading h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.login-wrapper {
  padding-top: 60px;
}

.exp-product-type__subtitle {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.exp-product-type .custom-checkbox {
  margin-right: 10px;
  margin-bottom: 0;
}

.alternatives__item > td {
  background-color: #eef9f7;
}

.alternatives__item .tab-content {
  background-color: #fff;
}

.alternatives__item .btn-wrapper {
  padding: 25px 0 15px;
}

.alternatives__item .nav-tabs {
  font-weight: bold;
}

.alternatives__item .table-neutral thead th,
.alternatives__item .table-neutral tbody th {
  background-color: #f0f3f7;
}

.alternatives__expert {
  font-size: 14px;
  font-weight: bold;
  float: right;
  line-height: 24px;
}

.alternatives__status {
  float: right;
  min-width: 90px;
  margin-left: 10px;
}

.sidebar {
  -webkit-flex: 0 0 350px;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
  overflow: auto;
}

.sidebar__header {
  padding: 18px 20px 0;
}

.sidebar__section {
  padding: 20px;
  border-bottom: 1px solid rgba(129, 151, 173, 0.3);
}

.sidebar__section .btn {
  width: 100%;
}

.sidebar__body {
  padding: 18px 20px;
}

.sidebar__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 4px;
  font-weight: bold;
}

.sidebar__title {
  font-size: 15px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.sidebar .control-label {
  font-weight: normal;
}

.sidebar__subtitle-btn {
  float: right;
  background-color: #82bb8c;
  position: relative;
  top: -6px;
  padding: 6px 12px;
}

.sidebar .form-control[disabled] {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-sidebars {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: calc(100vh - 146px);
}

.main-sidebars .content {
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.left-sidebar {
  background-color: #829cbd;
}

.left-sidebar .sidebar__title {
  font-size: 18px;
}

.left-sidebar .sidebar__title,
.left-sidebar .sidebar__subtitle {
  color: #fff;
}

.left-sidebar .control-label {
  color: #fff;
}

.left-sidebar .form-control {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: transparent;
}

.left-sidebar .form-control:focus {
  border-color: rgba(255, 255, 255, 0.6);
}

.left-sidebar .has-error .form-control {
  border-color: #ff7379;
}

.left-sidebar .has-error .help-block {
  background-color: #e15258;
  color: #fff;
  padding: 2px 8px 3px;
  border-radius: 4px;
}

.right-sidebar {
  background-color: #d3dce8;
}

.right-sidebar .sidebar__subtitle {
  background-color: #c5d1e0;
  padding: 10px 20px;
  text-align: center;
}

.right-sidebar .has-error .form-control {
  border-color: #ff7379;
}

.right-sidebar .has-error .help-block {
  background-color: #e15258;
  color: #fff;
  padding: 2px 8px 3px;
  border-radius: 4px;
}

.radio-tab {
  position: relative;
  display: block;
}

.radio-tab input {
  display: none;
}

.radio-tab__text {
  height: 36px;
  line-height: 36px;
  padding: 0 25px;
  background-color: #e2e7ec;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  font-weight: normal;
  font-size: 12px;
  border: 5px;
  width: 100%;
  text-align: center;
}

input:checked + .radio-tab__text {
  height: 36px;
  background-color: #659BE0;
  color: #fff;
  border: 5px;
}

input[disabled] + .radio-tab__text {
  opacity: 0.4;
}

.radio-tab:first-child .radio-tab__text {
  border-radius: 5px 0 0 5px;
}

.radio-tab:first-child + .radio-tab .radio-tab__text {
  border-width: 1px 0;
}

.radio-tab:last-child .radio-tab__text {
  border-radius: 0 5px 5px 0;
}

.sl-itinerary-form {
  padding: 20px;
}

.sl-itinerary-form__option {
  position: relative;
}

.sl-itinerary-form__trip-type {
  margin-bottom: 20px;
  border-bottom: none;
}

.sl-itinerary-form__mc-row-nr {
  position: absolute;
  top: 28px;
  left: -6px;
  display: none;
  color: #a5b3c5;
  font-size: 14px;
  font-weight: bold;
}

.sl-itinerary-form__mc-row-del {
  position: absolute;
  color: #e15258;
  font-size: 20px;
  right: -12px;
  top: 24px;
  cursor: pointer;
  display: none;
}

.sl-itinerary-form__mc-row-del:hover {
  color: #cb4a4f;
}

.sl-itinerary-form__option-icn {
  position: absolute;
  color: #c2cad8;
  right: 12px;
  top: 31px;
}

.sl-itinerary-form .btn-default, .sl-itinerary-form .btn-default:focus, .sl-itinerary-form .btn-default:active, .sl-itinerary-form .btn-default:hover {
  background-color: #8fa8c0;
  color: #fff;
}

.sl-itinerary-form__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.sl-itinerary-form__option {
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.sl-itinerary-form__option:not(:last-child) {
  margin-right: 10px;
}

.sl-itinerary-form__option--returning {
  display: none;
}

.sl-itinerary-form__option--flexibility {
  -webkit-flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
}

.sl-itinerary-form .btn-wrapper {
  margin-bottom: 25px;
}

.sl-itinerary-form__footer {
  padding-top: 20px;
  text-align: center;
}

.sl-itinerary-form__tab--mc .sl-itinerary-form__row {
  padding: 0 10px;
}

.sl-itinerary-form__tab--mc .sl-itinerary-form__mc-row-nr,
.sl-itinerary-form__tab--mc .sl-itinerary-form__mc-row-del {
  display: block;
}

.sl-itinerary-form__tab--rt .sl-itinerary-form__option--returning {
  display: block;
}

.sl-itinerary-form__pax {
  border-top: 1px solid #d3dce8;
  border-bottom: 1px solid #d3dce8;
  margin: 0 -21px;
  padding-top: 20px;
}

.sl-itinerary-form__top {
  margin-bottom: 10px;
}

.lh-input {
  line-height: 32px;
}

.sl-pax-form__pax-group {
  border-top: 1px solid #d3dce8;
  padding-top: 20px;
  position: relative;
}

.sl-pax-form__pax-group-title {
  margin-bottom: 25px;
}

.sl-pax-form__btn-del {
  position: absolute;
  right: 0;
  top: 20px;
}

.sl-request-title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 26px;
}

.sl-request-content,
.sl-quotes-content {
  max-width: 1200px;
  width: 100%;
  padding: 15px 20px 20px;
  margin: 0 auto;
}

.sl-client-field {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sl-client-field > div {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.sl-client-field-del {
  -webkit-flex: 0 0;
  -ms-flex: 0 0;
  flex: 0 0;
  background-color: rgba(255, 170, 170, 0.5);
  padding: 6px 12px;
  margin-left: 10px;
}

.sl-quote > .panel-heading {
  position: relative;
}

.sl-quote__check {
  position: absolute;
  right: 15px;
  top: 5px;
}

.sl-quote__pricing {
  -webkit-flex: 1 0 45%;
  -ms-flex: 1 0 45%;
  flex: 1 0 45%;
  padding: 15px;
  border-right: 1px solid #d3dce8;
}

.sl-quote__pricing .form-control[readonly] {
  background-color: #f3f3f3;
}

.sl-quote__pricing .table thead > tr > th,
.sl-quote__pricing .table thead > tr > td,
.sl-quote__pricing .table tbody > tr > th,
.sl-quote__pricing .table tbody > tr > td,
.sl-quote__pricing .table tfoot > tr > th,
.sl-quote__pricing .table tfoot > tr > td {
  padding: 8px 10px;
  vertical-align: middle;
}

.sl-quote__dump {
  padding: 15px;
}

.sl-quote__dump .box-bordered {
  font-family: monospace;
  padding: 15px;
  color: #919aa6;
  font-size: 14px;
}

.sl-quote__subtitle {
  font-weight: bolder;
  font-size: 14px;
  margin-bottom: 12px;
}

.sl-quote__remarks {
  -webkit-flex: 0 1 290px;
  -ms-flex: 0 1 290px;
  flex: 0 1 290px;
  padding: 15px;
}

.sl-quote__attributes {
  padding: 15px;
  border-bottom: 1px dashed #d3dce8;
}

.sl-quote__central {
  -webkit-flex: 1 1 55%;
  -ms-flex: 1 1 55%;
  flex: 1 1 55%;
  border-right: 1px dashed #d3dce8;
}

.sl-quote__status {
  position: absolute;
  right: 144px;
  text-transform: uppercase;
  min-width: 110px;
  top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  line-height: 24px;
  text-shadow: none;
}

.sl-quote__clone {
  position: absolute;
  right: 50px;
  top: 5px;
}

.sl-quote__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d3dce8;
}

.sl-events-log {
  margin-top: 20px;
  max-height: 500px;
  overflow-y: auto;
}

.sl-events-log table {
  table-layout: fixed;
}

.sl-events-log table tbody th, .sl-events-log table tbody td {
  word-break: break-all;
}

.sl-events-log table tbody th:first-child, .sl-events-log table tbody td:first-child {
  width: 120px;
}

.sl-popover-btn + .popover {
  width: 350px;
}

.sl-popover-btn + .popover li {
  word-break: break-all;
}

.sl-client-sidebar .sidebar__subtitle {
  position: relative;
}

.sl-client-sidebar .sidebar__subtitle:after {
  content: '';
  position: absolute;
  top: 50%;
  height: 1px;
  left: 0;
  margin-top: -1px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  width: 100%;
  z-index: 1;
}

.sl-client-sidebar .sidebar__subtitle .fa {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  background-color: #829cbd;
  position: relative;
  left: 50%;
  margin-left: -19px;
  z-index: 2;
  line-height: 38px;
  text-align: center;
  font-size: 15px;
}

.sl-client-sidebar .select-wrap-label:before {
  border-color: #eff3f7 transparent transparent;
}

.sl-client-sidebar .select-wrap-label:after {
  background-color: #eff3f7;
}

.sidebar__subsection {
  margin-bottom: 20px;
}

.sidebar__subsection-title {
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.sl-right-sidebar .radio-group .custom-radio {
  margin-left: 10px;
}

.modal-events .modal-header {
  font-size: 20px;
}

.main-sidebars .panel-main {
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
}

.sl-request-content .table {
  border: 1px solid #dddddd;
}

.sl-request-summary {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sl-request-summary__block {
  padding: 0 25px;
  font-weight: normal;
}

.sl-request-summary__block:first-child {
  padding-left: 0;
}

.sl-request-summary__block:not(:last-child) {
  border-right: 1px solid #fff;
}

#request-form-wrap {
  padding: 0 !important;
}

.modal-quote .modal-dialog {
  min-width: 1180px;
}

.tooltip {
  min-width: 170px;
}

.sl-quote__status-log{
  position: absolute;
  right: 96px;
  text-transform: uppercase;
  top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-shadow: none;}

.page-header__title a{color:#fff;}