#web-phone-widget {
  position: fixed;
  width: 100%;
  max-width: 800px;

  padding: 1px;
  bottom: 10px;
  border: 2px solid #78c286;
  /*margin-left: 50%;*/
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;
  /*height: 600px;*/
  background-color: rgba(255, 255, 255, .3);
  border-radius: 8px;
  /*margin-left: -50px;*/
  /*margin-left: calc(100% - calc(width / 2));*/
}

#controls {
  display: none;
}

div#call-controls {
  display: none;
}

div#call-controls2 {
  display: none;
}

div#call-controls input {
  font-family: Helvetica-LightOblique, Helvetica, sans-serif;
  font-style: oblique;
  font-size: 1em;
  width: 100%;
  height: 2.5em;
  padding: .5em;
  display: block;
}

/*button#button-hangup {
  display: none;
}*/

#call-log {
  border: 1px solid #686865;
  width: 100%;
  height: 12em;
  text-align: left;
  padding: 1.1em;
  float: right;
  overflow-y: scroll;
}

#call-log p {
  color: #686865;
  font-family: 'Share Tech Mono', 'Courier New', Courier, fixed-width;
  font-size: 10px;
  line-height: 1.2em;
  margin: 0px 0px 0px .8em;
  text-indent: -1.25em;
  width: 98%;
}

.fabs2 {
  bottom: 110px;
  position: fixed;
  margin: 1em;
  right: 0;
  z-index: 998;
}


.fabs2 a{
  -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
  animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
}

.fab2 {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #f0f0f0 !important;
  /*margin: 25px auto 0;*/
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
  z-index: 998;
  overflow: hidden;
  background: #42a5f5;
}

.fab2:hover {
  background: #5cc7f5;
}


.fab2 > i {
  font-size: 2em;
  line-height: 55px;
  -webkit-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.digit,
.dig {
  float: left;
  padding: 10px 30px;
  width: 30px;
  font-size: 2rem;
  cursor: pointer;
}

#output {
  font-family: Helvetica-LightOblique, Helvetica, sans-serif;
  font-size: 2rem;
  height: 30px;
  font-weight: bold;
  color: #292726;
  background-color: #d2d4e3;
  padding: 0 2px 0 2px;
}
.digit:active,
.dig:active {
  background-color: #e6e6e6;
}

.dig {
  float: left;
  padding: 10px 20px;
  margin: 10px;
  width: 30px;
  cursor: pointer;
}
.container-digit {
  border: solid 1px #0d3349;
  max-width: 200px;
  padding: 5px;
}