[Unit]
Description=Haproxy Stick Tables Exporter

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/bin/stick_tables_exporter.py -m 9166
User=root
Group=root