.quote {
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
}
.quote__heading {
    padding: 0 15px;
    border-bottom: 1px solid #c2cad8;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #80868c;
}
.quote__heading-left > *:not(:first-child) {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #c2cad8;
}
.quote__heading-right > *:not(:last-child) {
    margin-right: 16px;
    padding-right: 16px;
    border-right: 1px solid #c2cad8;
}
.quote__heading-left, .quote__heading-right {
    display: flex;
    align-items: center;
    padding: 6px 0;
}
.quote__vc {
    display: flex;
}
.quote__vc-logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 3px 1px rgba(51, 51, 51, 0.08);
    display: inline-block;
    margin-right: 8px;
}
.quote__vc-img {
    width: 100%;
    height: 100%;
    display: block;
}
.quote__id strong {
    color: #474f58;
}
.quote__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
}
.quote__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #c2cad8;
    background: #fafafb;
    padding: 10px;
}
.quote__footer-left {
    display: flex;
    justify-content: flex-start;
}
.quote__footer-right {
    display: flex;
    justify-content: flex-end;
}
.quote__footer-btn {
    margin-left: 8px;
    font-size: 12px;
}
.quote__footer-btn:first-child {
    margin-left: 0;
}
.quote__footer-btn .fa:not(:only-child) {
    margin-right: 5px;
}
.quote__footer-btn.btn-success {
    background-color: #78c286;
    border-color: #78c286;
}
.quote__footer-btn.btn-success:hover, .quote__footer-btn.btn-success:active, .quote__footer-btn.btn-success:focus, .quote__footer-btn.btn-success:active:focus, .quote__footer-btn.btn-success:active:hover {
    background-color: #72b97f;
    border-color: #72b97f;
}
.quote__footer-btn.btn-secondary {
    background-color: #4a525f;
    border-color: #4a525f;
}
.quote__footer-btn.btn-secondary:hover, .quote__footer-btn.btn-secondary:active, .quote__footer-btn.btn-secondary:focus, .quote__footer-btn.btn-secondary:active:focus, .quote__footer-btn.btn-secondary:active:hover {
    background-color: #3e444f;
    border-color: #3e444f;
}
.quote__wrapper .bg-success {
    background-color: #b2e8bf !important;
}
